*{
    /* padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box ; */
}

.img_container{
    overflow: hidden !important;
    height: 400px ;
    width: 300px;
}
body{
    background-color: #FFABAB;
    
    
}

.date{
    width: 100px;
   
}
.showPlace{
  width: 500px;
    height: 200px;
}
.intro{
   
    max-height: 300px;
}

img{
    width: 100% ;
    height: 100% !important;
    transition: all 0.4s ease;


}

img:hover{
  transform: scale(1.1);
}

.shadow-effect {
    
    transition: all 0.5s;
}

.shadow-effect:hover {
    box-shadow: -6px 6px 0 0 #df9d9d;
}

@media (max-width: 750) {
    body{
        padding: 0;
    }
}
